.services {
  text-align: center;
  padding: 80px 8%;
  background: #f9f9f9;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.sub-text {
  max-width: 600px;
  margin: auto;
  color: #666;
  margin-bottom: 50px;
}


.service-container {
  display: flex;
  gap: 30px;
}

.card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s;
  width: 600px;
  display: flex;
  flex-direction: column;   /* ⭐ important */
  height: 100%;             /* ⭐ equal height */
}


.icon {
  width: 50px;
  height: 50px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 15px;
  margin: 24px;
}

.card span {
  color: #ff004f;
  margin: 18px;
  margin-top: auto;
  }

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}
.card p{
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 18px;
    font-size: 12px;
}
.card h3{
    margin: 18px;
    font-weight: normal;
}
.card span:hover{
  cursor: pointer;
}