.services {
  text-align: center;
  padding: 80px 8%;
  background: #f9f9f9;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin: z;
}

.sub-text {
  max-width: 600px;
  margin: auto;
  color: #666;
  margin-bottom: 50px;
}


.service-container {
  display: flex;
  gap: 30px;
}

.card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s;
  
}


.icon {
  width: 50px;
  height: 50px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  margin-bottom: 15px;
  margin: 24px;
}

.card span {
  color: #ff004f;
  font-weight: 600;
  margin: 18px;
  margin: 18px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}
.card p{
    margin: 18px;

}
.card h3{
    margin: 18px;

}