.services {
  text-align: center;
  margin: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #f9f9f9;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.sub-text {
  max-width: 600px;
  margin: auto;
  color: #666;
  margin-bottom: 50px;
}


.service-container {
  display: flex;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: #fff;
  padding: 30px 25px;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.icon {
  width: 50px;
  height: 50px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 15px;
  margin: 24px;
}

.card span {
  color: #ff004f;
  margin: 10px;
  margin-top: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.card p {
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 12px;
}

.card h3 {
  margin: 10px;
  font-weight: normal;
}

.card span:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  .service-container {
    display: block;
  }

  .card {
    width: 350px;
    gap: 0px;
    margin-bottom: 10px;
  }

  .card p {
    margin: 0;
    margin-right: 40%;
    margin: 10px auto;
  }

  .card h3 {
    margin: 0px;
    font-weight: normal;

  }

  .card span {
    margin: 0%;
  }
}