.about {
  padding: 80px 8%;
  background: #f9f9f9;
}

.about-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
  align-items: center;
}

/* LEFT */
.about-left h3 {
  margin-bottom: 20px;
}

.about-left p {
  color: #555;
  margin-bottom: 20px;
  line-height: 1.7;
}

.about-btn {
  background: #ff004f;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background: #e60045;
}

/* RIGHT GRID */
.about-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* CARD */
.about-card {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  justify-items: center;
}

.about-card:hover {
  transform: translateY(-8px);
}


.icon {
  width: 55px;
  height: 55px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
  font-size: 22px;
  margin-left: 90px;
}
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-right {
    margin-top: 40px;
  }
}