.contact {
  padding: 80px 8%;
  background: #fff;
  text-align: center;
}

.contact-sub {
  color: #666;
  margin-bottom: 50px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  text-align: left;
}

.contact-item {
  display: flex;
  gap: 15px;
  height: 88px;
}

.icon {
  width: 45px;
  height: 45px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1px;
}
.contact-info{
  margin-top: -28px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  outline: none;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  background: #ff004f;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}
.contact-item div{
  margin: 24px;
}

@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
    width: 400px;
    height: 70vh;

  }
}
@media (max-width: 500px) {
  .contact-form {
    grid-template-columns: 1fr;
    width: 350px;
    padding-right: 24px;
    font-size: 10px;
  }
  
  .contact-info{
    width: 400px;
    margin-bottom: 100px;
    margin-left: -30px;
    font-size: 15px;
  }
  .icon{
    margin: 24px;
    width: 24px;
    height: 24px;
  }
  .contact-item{
    width: 90%;
  }
  .contact{
    margin-bottom: 100px;
  }
}