.contact {
  padding: 80px 8%;
  background: #fff;
  text-align: center;
}

.contact-sub {
  color: #666;
  margin-bottom: 50px;
}

/* GRID */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  text-align: left;
}

/* CONTACT INFO */
.contact-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.icon {
  width: 45px;
  height: 45px;
  background: #ffe6ee;
  color: #ff004f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* FORM */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
  outline: none;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  background: #ff004f;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}