.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    margin: auto 24px 24px;
    font-size: 1.1rem;
    position: sticky;
    background-color: white;
}
.nav-links{
    display: flex;
    gap: 50px;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
     align-items: center;
}
.book-btn {
  background: #ff004f;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.book-btn:hover {
  background: #e60045;
}
