.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
    font-size: 1.1rem;

    position: sticky;
    top: 0;              /* ⭐ REQUIRED */
    z-index: 1000;       /* ⭐ stay above hero */

    background-color: white;
}

.nav-links{
    display: flex;
    gap: 50px;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
     align-items: center;
}
.book-btn {
  background: #ff004f;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.book-btn:hover {
  background: #e60045;
}

@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 200px;
    flex-direction: column;
    align-items: center;
    display: none;   /* hidden by default on mobile */
  }

  .nav-links.active {
    display: flex;   /* show when clicked */
  }

  .menu-icon {
    display: block;
    width: 25px;
    cursor: pointer;
  }
}
.nav-links {
  display: flex;
}