.Navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 4%;
  background:white;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  font-size:22px;
  font-weight:600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar .logo{
    margin: 0;
}
.logo span{
  color: #000000;
}
.logo-img{
  height: 35px;
}
.nav-links{
  display:flex;
  gap:40px;
  align-items:center;
  list-style:none;
}

.book-btn{
  background:#ff004f;
  color:white;
  border:none;
  padding:10px 22px;
  border-radius:25px;
  cursor:pointer;
}


.menu-icon{
  width:28px;
  display:none;
  cursor:pointer;
  background-color: #2f36b0;
}
.Navbar ul li:hover{
  cursor: pointer;
  color: #ff004f;
  font-weight: 800;
}


@media(max-width:768px){

  .menu-icon{
    display:block;
  }

  .nav-links{
    position:fixed;
    top:0;
    right:-260px;
    width:260px;
    height:100vh;
    background:#2f36b0;
    flex-direction:column;
    justify-content:center;
    gap:30px;
    transition:0.4s;
    color:white;
  }

  .nav-links.active{
    right:0;
  }

  .book-btn{
    background:white;
    color:#2f36b0;
  }
}


.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.4);
  z-index:999;
}