.gallery {
  padding: 80px 8%;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.gallery p {
  color: #666;
  margin-bottom: 50px;
}

/* GRID */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}


.gallery-item {
  border-radius: 10px;
  overflow: hidden;
  height: 250px;   
}

.gallery-item img {
  width: 100%;
  height: 100%;    
  object-fit: cover;
  display: block;  
  transition: 0.4s;
}

