.gallery {
  padding: 80px 8%;
  text-align: center;
  background: #fff;
}

.gallery h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.gallery p {
  color: #666;
  margin-bottom: 50px;
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 30px;
}


.gallery-item {
  border-radius: 10px;
  overflow: hidden;
  height: 250px;   
}

.gallery-item img {
  width: 100%;
  height: 100%;    
  object-fit: cover;
  display: block;  
  transition: 0.4s;
}
.text{
  margin: 25px;
  text-align: center;
}

@media (max-width: 900px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .gallery-container {
    grid-template-columns: 1fr;
  }
}


